6   NODESHIT/package-lock.json
NODESHIT/package-lock.json
NODESHIT/node_modules/.package-lock.json
NODESHIT/node_modules/collapse-white-space/package.json
NODESHIT/node_modules/franc/expressions.js
NODESHIT/node_modules/franc/readme.md
NODESHIT/node_modules/collapse-white-space/readme.md
NODESHIT/package.json
NODESHIT/node_modules/n-gram/readme.md
NODESHIT/node_modules/langs/.travis.yml
NODESHIT/node_modules/langs/.npmignore
NODESHIT/node_modules/langs/index.js
NODESHIT/node_modules/langs/README.md

NODESHIT/node_modules/trim/index.js
NODESHIT/node_modules/trim/Makefile
NODESHIT/node_modules/trim/Readme.md
NODESHIT/node_modules/trim/History.md
NODESHIT/node_modules/trim/component.json
NODESHIT/node_modules/trigram-utils/license
NODESHIT/node_modules/collapse-white-space/license
NODESHIT/node_modules/collapse-white-space/index.js
NODESHIT/node_modules/.package-lock.json
NODESHIT/node_modules/franc/package.json
NODESHIT/node_modules/trigram-utils/readme.md
NODESHIT/node_modules/trim/package.json
NODESHIT/node_modules/trim/.npmignore
NODESHIT/node_modules/n-gram/license
NODESHIT/node_modules/langs/test.js
NODESHIT/node_modules/trigram-utils/package.json
NODESHIT/node_modules/trigram-utils/index.js
NODESHIT/node_modules/n-gram/package.json
NODESHIT/node_modules/langs/package.json
NODESHIT/package-lock.json
NODESHIT/package-lock.json
NODESHIT/package-lock.json
NODESHIT/package-lock.json
NODESHIT/node_modules/n-gram/index.js
NODESHIT/node_modules/langs/LICENSE
NODESHIT/node_modules/langs/data.js
NODESHIT/node_modules/franc/index.js
NODESHIT/node_modules/franc/data.json
NODESHIT/node_modules/.package-lock.json
NODESHIT/node_modules/.package-lock.json
NODESHIT/package.json
NODESHIT/package-lock.json
